@charset "utf-8";
.calc-page-tabs {
    width: 80%;
}
@media screen and (max-width: 768px) {
    .calc-page-tabs {
        width: 100%;
    }
}
.calc-page-tabs + .anchor-btn {
    padding-right: 20px;
}
@media screen and (max-width: 768px) {
    .calc-page-tabs + .anchor-btn {
        display: none;
    }
}
.calc-page-tabs + .anchor-btn .red-arrow-btn {
    padding: 6px 12px;
}
.calc-page-tabs-wrap {
    background-color: #f2f2f2;
    min-height: 52px;
    position: relative;
}
@media screen and (max-width: 768px) {
    .calc-page-tabs-wrap {
        min-height: 56px;
    }
}
.calc-page-tabs-wrap .calc-page-tabs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    position: relative;
}
.calc-page-tabs-wrap .calc-page-tabs-list.slick-slider {
    margin-left: 20px;
}
@media screen and (max-width: 992px) {
    .calc-page-tabs-wrap .calc-page-tabs-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        padding: 8px 0;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
    .calc-page-tabs-wrap .calc-page-tabs-list.dropdown-active {
        background-color: #fff;
        border-radius: 6px;
        padding: 10px 0px;
        position: absolute;
        top: 25px;
        z-index: 60;
    }
    .calc-page-tabs-wrap .calc-page-tabs-list:after {
        content: "";
        font-family: Font Awesome\6 Free;
        font-size: 12px;
        font-weight: 900;
        position: absolute;
        right: -20px;
        top: 20px;
    }
    .calc-page-tabs-wrap .calc-page-tabs-list.dropdown-active:after {
        content: unset;
    }
}
@media screen and (max-width: 768px) {
    .calc-page-tabs-wrap .calc-page-tabs-list {
        min-height: 56px;
    }
}
.calc-page-tabs-wrap .calc-page-tabs-list.dropdown-active .calc-page-tab .calc-page-tab-link {
    margin-bottom: 5px;
    padding: 5px 15px;
}
.calc-page-tabs-wrap .calc-page-tabs-list .slick-arrow {
    background: transparent;
    border-bottom: 0;
    border-left: 3px solid;
    border-right: 0;
    border-top: 3px solid;
    cursor: pointer;
    font-size: 0;
    height: 20px;
    left: -15px;
    margin-top: -12px;
    outline: 10px solid transparent;
    position: absolute;
    text-indent: 0;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 20px;
    z-index: 10;
}
.calc-page-tabs-wrap .calc-page-tabs-list .slick-arrow.slick-next {
    border-left: 0;
    border-right: 3px solid #000;
    left: unset;
    right: -15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.calc-page-tabs-wrap .calc-page-tabs-list .slick-arrow.slick-disabled {
    opacity: 0.5;
}
.calc-page-tabs-wrap .calc-page-tabs-list .calc-page-tab {
    display: block;
    margin: 0 auto;
    padding: 13px 20px;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
@media screen and (max-width: 992px) {
    .calc-page-tabs-wrap .calc-page-tabs-list .calc-page-tab {
        height: auto;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
    }
}
.calc-page-tabs-wrap .calc-page-tabs-list .calc-page-tab.active-tab {
    border-bottom: 3px solid #004c8f;
    font-weight: 600;
}
.calc-page-tabs-wrap .calc-page-tabs-list .calc-page-tab.active-tab .calc-page-tab-link {
    color: #004c8f;
}
@media screen and (max-width: 992px) {
    .calc-page-tabs-wrap .calc-page-tabs-list .calc-page-tab.active-tab {
        border: none;
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }
    .calc-page-tabs-wrap .calc-page-tabs-list .calc-page-tab.active-tab .calc-page-tab-link {
        color: #4c4c4c;
    }
}
.calc-page-tabs-wrap .calc-page-tabs-list .calc-page-tab.active-tab.mobile-tab-active {
    background-color: #ecf1f4;
    font-weight: 600;
}
.calc-page-tabs-wrap .calc-page-tabs-list .calc-page-tab .calc-page-tab-link {
    color: #666;
    display: block;
    font-size: 14px;
    height: 100%;
    line-height: 24px;
    margin: 0 auto;
    text-decoration: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    word-break: break-word;
}
@media screen and (max-width: 992px) {
    .calc-page-tabs-wrap .calc-page-tabs-list .calc-page-tab .calc-page-tab-link {
        color: #4c4c4c;
        margin: 0;
        padding: 5px 0px;
    }
}
.calc-box-desk {
    display: none;
}
.calc-with-chart.calculator-div {
    gap: 140px;
    max-width: 1000px;
}
@media screen and (max-width: 1400px) {
    .calc-with-chart.calculator-div {
        gap: 90px;
    }
}
@media screen and (max-width: 992px) {
    .calc-with-chart.calculator-div {
        gap: 35px;
    }
}
.calc-with-chart.calculator-div .calculator-range-inputs-div {
    width: 50%;
}
@media screen and (max-width: 992px) {
    .calc-with-chart.calculator-div .calculator-range-inputs-div {
        width: 100%;
    }
}
.calc-with-chart.calculator-div .result-div {
    width: 50%;
}
@media screen and (max-width: 992px) {
    .calc-with-chart.calculator-div .result-div {
        width: 97%;
    }
}
.emi.calculator-result-div {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}
@media screen and (max-width: 768px) {
    .emi.calculator-result-div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: 20px;
        width: 100%;
    }
    .emi.calculator-result-div #emi-chart {
        display: none;
    }
}
.result-div {
    width: 30%;
}
@media only screen and (max-width: 992px) {
    .result-div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 97%;
    }
}
#afford-down-payment-inp,
#afford-emi-inp,
#afford-gross-inp {
    width: 85px;
}
@media only screen and (max-width: 992px) {
    #afford-down-payment-inp,
    #afford-emi-inp,
    #afford-gross-inp {
        width: 85px;
    }
}
#afford-tenure-inp {
    width: 20px;
}
#afford-rate-inp {
    width: 41px;
}
#gross-income-inp,
#le-emi-inp {
    width: 85px;
}
@media only screen and (max-width: 992px) {
    #gross-income-inp,
    #le-emi-inp {
        width: 85px;
    }
}
#le-tenure-inp {
    width: 20px;
}
#le-rate-inp {
    width: 41px;
}
#ref-principal-inp {
    width: 95px;
}
@media only screen and (max-width: 992px) {
    #ref-principal-inp {
        width: 95px;
    }
}
#ref-hl-tenure-inp,
#ref-tenure-inp {
    width: 20px;
}
#ref-hl-rate-inp,
#ref-rate-inp {
    width: 41px;
}
h3.calculator-inp-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
}
@media only screen and (max-width: 768px) {
    h3.calculator-inp-heading {
        font-size: 18px;
    }
}
.calculator-range-inputs-div {
    width: 54%;
}
@media screen and (max-width: 992px) {
    .calculator-range-inputs-div {
        width: 100%;
    }
}
.calculator-range-inputs-div .calculator-title h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 18px;
}
@media only screen and (max-width: 768px) {
    .calculator-range-inputs-div .calculator-title h2 {
        text-align: center;
    }
}
.calculator-range-inputs-div .calculator-title h2 b {
    color: #004c8f;
}
@media only screen and (max-width: 768px) {
    .calculator-range-inputs-div .calculator-title h2 b {
        display: block;
    }
}
.result-wrap {
    margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
    .result-wrap {
        margin-bottom: 10px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
}
@media screen and (max-width: 992px) {
    .result-wrap {
        margin-bottom: 10px;
    }
}
.result-wrap > span {
    position: relative;
}
@media screen and (max-width: 768px) {
    .need-info-wrap {
        margin: -15px 0 0 0px;
    }
}
.need-info {
    font-size: 12px;
}
.need-info,
.result-label {
    color: #666;
    font-weight: 600;
    line-height: 24px;
}
.result-label {
    display: block;
    font-size: 14px;
    position: relative;
}
@media only screen and (max-width: 480px) {
    .result-label {
        margin: 0;
        text-align: left;
    }
}
.result-output {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
}
@media only screen and (max-width: 992px) {
    .result-output {
        font-size: 22px;
        line-height: 28px;
    }
}
.result-output > .text-super {
    font-family: Titillium Web;
    font-size: 14px;
    font-weight: 600;
    left: -2px;
    line-height: 20px;
    position: relative;
    top: 1px;
    vertical-align: super;
}
@media screen and (max-width: 768px) {
    .result-output > .text-super {
        font-size: 19px;
        left: -2px;
        top: 4px;
    }
}
.result-output > .text-sub {
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 8px 6px;
    vertical-align: bottom;
}
@media screen and (max-width: 768px) {
    .result-output > .text-sub {
        margin-bottom: 2px;
    }
}
.result-details-link {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: 'Montserrat',sans-serif;
}
@media only screen and (max-width: 992px) {
    .result-details-link {
        bottom: -10px;
    }
}
.result-details-link:hover {
    color: #004c8f;
}
.result-output.main-output {
    color: #004c8f;
    font-size: 32px;
    font-weight: 700;
    line-height: 33px;
}
.result-output.main-output span {
    color: #fff;
    font-family: Titillium Web;
    font-size: 16px;
    font-weight: 600;
    left: 0px;
    line-height: 20px;
    position: relative;
    top: -1px;
}
@media screen and (max-width: 768px) {
    .result-output.main-output span {
        font-size: 19px;
        left: -3px;
        line-height: 20px;
        top: 0px;
    }
}
@media only screen and (max-width: 992px) {
    .result-output.main-output {
        font-size: 32px;
        line-height: 33px;
        margin-bottom: 16px;
    }
}
.highcharts-container {
    position: relative;
}
#emi-chart {
    pointer-events: none;
}
.emi-calculator.calculator-div {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@media screen and (max-width: 992px) {
    .result-details-link.mobile {
        display: inline-block;
    }
}
.calc-box {
    display: none;
}
.calculator-bold-title {
    margin: 60px auto 18px;
    text-align: center;
}
@media screen and (max-width: 991px) {
    .calculator-bold-title {
        margin: 45px auto 10px;
    }
}
.calculator-bold-title .cmp-title__text {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    line-height: 60px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
}
@media screen and (max-width: 991px) {
    .calculator-bold-title .cmp-title__text {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 380px) {
    .calculator-bold-title .cmp-title__text {
        font-size: 28px;
    }
}
.calculator-sub-title {
    margin: 0 0 32px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .calculator-sub-title {
        margin: 0 0 24px;
    }
}
.calculator-sub-title .cmp-title__text {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
@media only screen and (max-width: 768px) {
    .calculator-sub-title .cmp-title__text {
        font-size: 20px;
    }
}
.calculator-border .cmp-container {
    border-bottom: 2px solid #d2d2d2;
    border-top: 2px solid #d2d2d2;
    padding-bottom: 60px;
}
@media only screen and (max-width: 768px) {
    .calculator-border .cmp-container {
        margin: 10px 0 0;
    }
}
.calculator-sub-text .cmp-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: auto auto 55px;
    max-width: 80%;
}
@media screen and (max-width: 991px) {
    .calculator-sub-text .cmp-text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 36px;
        max-width: 100%;
    }
}
.calculator-sub-text .cmp-text p {
    color: #4c4c4c;
}
.calculator-sub-text .cmp-text a {
    color: #004c8f;
    font-weight: 600;
}
.calculator-sub-text .cmp-text a:hover {
    text-decoration: underline;
}
.calculator-div {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 90px;
    justify-content: space-between;
    margin: auto;
    max-width: 915px;
    width: 100%;
}
@media only screen and (max-width: 992px) {
    .calculator-div {
        gap: 35px;
    }
}
.calculator-inp-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 32px;
    position: relative;
}
@media only screen and (max-width: 992px) {
    .calculator-inp-wrap {
        margin-bottom: 24px;
    }
}
.calculator-inp-wrap input[type="range"] {
    top: 41px;
}
.calculator-inp-wrap input[type="range"]:focus + .rangeslider .rangeslider__handle {
    -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
.calculator-inp-wrap:last-child {
    margin-bottom: 0px;
}
.calculator-inp-wrap > span {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.calculator-inp-label {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    pointer-events: none;
    width: 60%;
}
.calculator-num-inp {
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    outline: none;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
}
.num-inp-wrap {
    border: 1px solid #e3e1e1;
    border-radius: 3px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 5px;
    padding: 5px 8px;
    text-align: right;
}
.input-prefix {
    color: #fff;
    font-family: Titillium Web;
    font-weight: 700;
}
.input-suffix {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-weight: 700;
    line-height: 20px;
}
#loan-amt-inp {
    width: 95px;
}
#tenure-inp {
    width: 20px;
}
#rate-inp {
    width: 41px;
}
.min-max-wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.max-inp-amt,
.min-inp-amt {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 991px) {
    .calculator.error-modal {
        width: 480px;
    }
    .calculator-div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    .calculator-range-inputs-div {
        width: 97%;
    }
}
.rangeslider.rangeslider--horizontal {
    background-color: #f2f2f0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    height: 7px;
    margin-top: 15px;
}
@media screen and (max-width: 992px) {
    .rangeslider.rangeslider--horizontal {
        height: 5px;
    }
}
.rangeslider .rangeslider__fill {
    background-color: #ffbf00;
}
.rangeslider .rangeslider__handle {
    background: #f0f6fb;
    /* border: 4px solid #fabb00; */
    -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 7px 39px 0 rgba(0, 0, 0, 0.15);
    height: 20px;
    width: 20px;
}
@media screen and (max-width: 992px) {
    .rangeslider .rangeslider__handle {
        border: 3px solid #004c8f;
        height: 17px;
        top: -6.3px;
        width: 17px;
    }
}
.rangeslider__handle:after {
    content: unset;
    height: 0;
    width: 0;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.bd-hidden {
    display: none;
}
.calculator.error-modal {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    display: none;
    margin: 0 auto;
    opacity: 0;
    padding: 30px 20px;
    position: fixed;
    text-align: center;
    top: 10px;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
    width: 600px;
    z-index: 100;
}
.calculator.modal-content-div {
    color: #00334e;
    font-size: 18px;
    margin-bottom: 20px;
}
.calculator.modal-close-btn {
    background-color: #004c8f;
    border: 1px solid #004c8f;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 8px;
    min-width: auto;
    padding: 8px 48px 8px 24px;
    position: relative;
    text-align: left;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.calculator.modal-close-btn:after {
    content: "";
    font-family: Font Awesome\6 Free;
    font-weight: 900;
    line-height: 1;
    position: absolute;
    right: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.calculator.modal-close-btn:hover {
    background: transparent;
    color: #004c8f;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.calculator.error-modal.modal-open {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
@media screen and (max-width: 991px) {
    .calculator.error-modal {
        width: 480px;
    }
}
@media screen and (max-width: 480px) {
    .calculator.error-modal {
        width: 340px;
    }
}
.le-result-div {
    color: #00334e;
    width: 40%;
}
@media screen and (max-width: 991px) {
    .le-result-div {
        width: 60%;
    }
}
@media screen and (max-width: 480px) {
    .le-result-div {
        width: 97%;
    }
}
.result-redirections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}
@media only screen and (max-width: 992px) {
    .result-redirections {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        align-items: center;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 6px;
        width: 100%;
    }
}
@media only screen and (max-width: 385px) {
    .result-redirections {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.result-redirections .calc-apply-online {
    background-color: #004c8f;
    border: 1px solid #004c8f;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 0;
    outline: none;
    padding: 8px 14px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
@media only screen and (max-width: 768px) {
    .result-redirections .calc-apply-online {
        text-align: center;
        width: 100%;
    }
}
.result-redirections .calc-apply-online:hover {
    background-color: #fff;
    color: #004c8f;
}
.result-redirections .calc-contact-you {
    background-color: #fff;
    border: 1px solid #004c8f;
    border-radius: 6px;
    color: #004c8f;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    outline: none;
    padding: 6px 9px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
@media only screen and (max-width: 991px) {
    .result-redirections .calc-contact-you {
        padding: 6px 18px;
        text-align: center;
        width: 100%;
    }
}
.result-redirections .calc-contact-you:hover {
    background-color: #004c8f;
    color: #fff;
}
.result-redirections .calc-contact-you:hover :after {
    color: #fff;
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .tableHeading {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.27;
    margin: 20px auto 40px;
    padding-top: 20px;
    text-align: center;
}
@media screen and (max-width: 991px) {
    .container.responsivegrid.amortization-table .cmp-container .generic-table .tableHeading {
        font-size: 28px;
        margin: 0 auto 20px;
        padding-top: 0;
    }
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte {
    border: none;
}
@media screen and (max-width: 991px) {
    .container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte {
        overflow-x: scroll;
    }
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table thead tr {
    border: none;
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table tbody {
    border: 1px solid #e0e0e0;
    border-top: none;
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table tbody tr {
    border-bottom: 1px solid #e0e0e0;
    border-top: none;
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table tbody tr:last-child {
    border-bottom: none;
}
@media screen and (max-width: 991px) {
    .container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table tbody tr:last-child {
        border-bottom: 1px solid #e0e0e0;
    }
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table tbody tr:nth-child(odd) {
    background: #f3f3f3;
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table tbody tr:nth-child(2n) {
    background: transparent;
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table thead th:first-child {
    max-width: 90px;
    width: 90px;
}
@media screen and (max-width: 991px) {
    .container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table thead th:first-child {
        min-width: 65px;
        width: 65px;
    }
}
.container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table thead th {
    max-width: 215px;
    width: 215px;
}
@media screen and (max-width: 991px) {
    .container.responsivegrid.amortization-table .cmp-container .generic-table .table-rte table thead th {
        min-width: 165px;
        width: 165px;
    }
}
.container.responsivegrid.calculator-page-container {
    margin-top: 20px;
}
@media screen and (max-width: 991px) {
    .container.responsivegrid.calculator-page-container {
        margin-bottom: 30px;
        margin-top: 24px;
    }
}
@media screen and (max-width: 480px) {
    .container.responsivegrid.calculator-page-container {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 991px) {
    .container.responsivegrid.calculator-page-container .emi-calculator {
        margin-bottom: 24px;
    }
    .container.responsivegrid.calculator-page-container .eligibility-calc {
        margin-bottom: 72px;
    }
    .container.responsivegrid.calculator-page-container .affordability-calculator {
        margin-bottom: 16px;
    }
    .container.responsivegrid.calculator-box-component {
        border: 1px solid #ccc;
        border-left: 2px solid #004c8f;
        -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
        margin: 0 0 8px;
        padding: 0;
    }
}
.emi-calculator .result-wrapper-div {
    display: block;
}
@media only screen and (max-width: 768px) {
    .emi-calculator .result-wrapper-div {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;
        justify-content: center;
        width: 100%;
    }
    .emi-calculator .result-wrapper-div.no-division {
        display: block;
    }
}
.emi-calculator .result-wrapper-div.no-division #monthly-emi {
    color: #6694bc;
}
.emi-calculator .result-wrapper-div.no-division #monthly-emi span {
    color: #6694bc;
    font-weight: 400;
    top: 1px;
}
.emi-calculator .result-wrapper-div .result-wrap .result-label {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}
.emi-calculator .result-wrapper-div .result-wrap .result-output {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    font-family: 'Montserrat',sans-serif;
}
.emi-calculator .result-output.main-output {
    margin-bottom: 0;
}
.emi-calculator .result-output.main-output > span {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
#monthly-emi {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    font-family: 'Montserrat', sans-serif;
}
#emi-chart-calculator {
    max-height: 230px;
    pointer-events: none;
}
.faq-title {
    margin-bottom: 39px;
}
